<h1>Edit Invitations</h1>
<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", admin_invitation_path(@invitation) %> |
  <%= link_to "Destroy", admin_invitation_path(@invitation), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_invitations_path %>
</p>
