<div id="admin_header">
<div class="logo">
<%= link_to image_tag('/images/admin/fpo.png', :class => 'logo'), '/admin' %>
</div>
<div class="masthead">
  <h1>Administration Area</h1>
</div>
<%= render :partial => '/shared/user_status' %>
</div>
